/* File: media.css */

@media screen and (max-width: 1400px) {
    .container {
        width: 1320px;
    }   
}
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }    
}
@media screen and (max-width: 992px) {
     .container {
         width: 720px;
     }  
}
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
 
    }  
}
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
    }  
    h1{
    padding-top: 5%;
    font-size: 20px;
    padding-bottom: 15px;
    display: flex;    
    }
    .header input{
        width: 200px;
        font-size: 10px;
        height: 25px;
        
    }
    .header button{
        width: 50px;
        font-size: 10px;
        height: 25px;
        padding: 3px;
    }
    .buttons{
        display: flex;
        gap: 10px;
    }
    .result-img{
        width: 300px;
    }
    .res{
    margin-top: 20px;
    justify-items: center;
    padding-bottom: 10px;
    padding: 5px;
}
    .res2{
    border-style: groove;
    border-radius: 5px;
    height: auto;
    width: auto;
    border-color: black;
    background-color: rgb(223, 209, 209);
    position: center;
    margin-top: 20px;
    padding: 5px;
    align-items: center;
}
 
}
 
