/* File: styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    /*Ширина контейнера (Всього сайту)*/
    width: 1170px;
    margin: 0 auto;
    background-color: greenyellow;
    justify-self: center;


}
.header{
    justify-items: center;
    justify-self: center;
    align-items: center;
}
h1{
    padding-top: 5%;
    padding-bottom: 25px;
    display: flex;    
}
.header input{
    width: 300px;
    height: 35px;
    font-size: 16px;
    padding: 5px;
    margin-right: 0px;
    box-shadow: 23px 23px 45px #40b5eb,
                -23px -23px 45px #27ca73;
    border-radius: 7px;


}
.header button{
    width: 100px;
    height: 35px;
    font-size: 16px;
    box-shadow: 23px 23px 45px #40b5eb,
                -23px -23px 45px #27ca73;
    border-radius: 7px;

}
.res{
    margin-top: 50px;
    justify-items: center;
    padding-bottom: 100px;
}
.res2{
    border-style: groove;
    border-radius: 5px;
    height: auto;
    width: auto;
    border-color: black;
    background-color: rgb(223, 209, 209);
    position: center;
    margin-top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 50px;
}
a, img, span, h1 {
    display: block; /*Стрічкові обєкти перетворюю в блочні*/
}
.flex-justify-center {
    justify-content: space-between;
}
.flex-align {
    align-items: center;
}
.flex {
    display: flex; /*Таким чином можна функції що повторюються не писати до кожного елемента а просто додавати класи в index.html*/
}

.result img {
    width: 300px;     /* бажана ширина */
    height: 200px;    /* бажана висота */
    object-fit: cover; /* щоб картинка не спотворювалась */
}

